@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
    0% {
      transform: translateX(100%); /* 从最右边开始 */
    }
    100% {
      transform: translateX(-100%); /* 移动到最左边 */
    }
  }
  
  .animate-scroll {
    animation: scroll 20s linear infinite; /* 20秒完成一次滚动，线性无限循环 */
    display: inline-flex;
    white-space: nowrap; /* 保证内容不会自动换行 */
  }
  
  